@tailwind base;
@tailwind components;
@tailwind utilities;

/* Anchor link style */
.a {
  position: relative;
  outline: transparent;
}

.a:after {
  content: "";
  position: absolute;
  background-color: #e3a008;
  height: 2px;
  left: 5%;
  bottom: -5px;
  transition: 0.4s;
  border-radius: 10px;
  width: 0%;
}

.a:hover:after,
.a:focus:after {
  width: 100%;
  box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.75);
}

/* Hover-specific styles */
.a:hover:after {
  width: 100%;
}

.a:focus:after {
  width: 50%;
}

/* Gradient backgrounds */
.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #111111 0%,
    #111111 50%,
    #DBF851 50%,
    #DBF851 100%
  );
}

.alumni {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #111111 0%,
    #111111 50%,
    #4cb5db 50%,
    #4cb5db 100%
  );
}
.yellow {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #111111 0%,
    #111111 50%,
    #FDE047 50%,
    #FDE047 100%
  );
}

/* Scrollbar styles */
.green::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.green::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 6px; /* Round corners of the track */
}

.green::-webkit-scrollbar-thumb {
  background-color: #CFF80B; /* Handle color */
  border-radius: 6px; /* Round corners of the handle */
}

.green::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker handle color on hover */
}

/* Hide scrollbar for WebKit browsers */
.scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for Firefox */
.scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar_blue::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.scrollbar_blue::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 6px; /* Round corners of the track */
}

.scrollbar_blue::-webkit-scrollbar-thumb {
  background-color: #2596be; /* Handle color */
  border-radius: 6px; /* Round corners of the handle */
}

.scrollbar_blue::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker handle color on hover */
}