@tailwind base;
@tailwind components;
@tailwind utilities;

.sans {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}
.black{
  background-color: #000;
}
/* Anchor link style */
.a {
  position: relative;
  outline: transparent;
}

.a:after {
  content: "";
  position: absolute;
  background-color: #e3a008;
  height: 2px;
  left: 5%;
  bottom: -5px;
  transition: 0.4s;
  border-radius: 10px;
  width: 0%;
}

.a:hover:after,
.a:focus:after {
  width: 100%;
  box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.75);
}

/* Hover-specific styles */
.a:hover:after {
  width: 100%;
}

.a:focus:after {
  width: 50%;
}

/* Gradient backgrounds */
.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #111111 0%,
    hsl(0, 0%, 7%) 50%,
    #DBF851 50%,
    #d2eb55 100%
  );
}

.alumni {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #111111 0%,
    #111111 50%,
    #4cb5db 50%,
    #4cb5db 100%
  );
}
.yellow {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #111111 0%,
    #111111 50%,
    #FDE047 50%,
    #FDE047 100%
  );
}

/* Scrollbar styles */
.green::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.green::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 6px; /* Round corners of the track */
}

.green::-webkit-scrollbar-thumb {
  background-color: #CFF80B; /* Handle color */
  border-radius: 6px; /* Round corners of the handle */
}

.green::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker handle color on hover */
}
.scrollbar_yellow::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.scrollbar_yellow::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 6px; /* Round corners of the track */
}

.scrollbar_yellow::-webkit-scrollbar-thumb {
  background-color: #EAB308; /* Handle color */
  border-radius: 6px; /* Round corners of the handle */
}

.scrollbar_yellow::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker handle color on hover */
}
/* For Firefox */
.scrollbar_yellow_container {
  scrollbar-width: thin;
  scrollbar-color: #EAB308 #f1f1f1; /* Scrollbar color and track color */
}

/* Hide scrollbar for WebKit browsers */
.scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for Firefox */
.scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar_blue::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.scrollbar_blue::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 6px; /* Round corners of the track */
}

.scrollbar_blue::-webkit-scrollbar-thumb {
  background-color: #2596be; /* Handle color */
  border-radius: 6px; /* Round corners of the handle */
}

.scrollbar_blue::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker handle color on hover */
}


.box-icon {
  display: grid;
  place-items: center;
}

.box-label {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-size: 14px;
  letter-spacing: 0.125em;
}

.box-title {
  /* white-space: nowrap;
  display: flex;
  align-items: center; */
  writing-mode: vertical-rl;
  /* text-orientation: mixed;
  font-size: 24px;
  padding-top: 16px; */
}



.studio-button {
    
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  transition: 0.35s ease all;
  overflow: hidden;
  
}

.studio-button-icon {
  position: relative;
  top: 1px;
}

.studio-button-label {
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 8px;
  opacity: 0;
  transform: translateX(10px);
  transition: 0.25s ease all;
}

.box:hover {
  .studio-button {
    max-width: 100%;
  }
  .studio-button-label {
    opacity: 1;
    transform: translateX(0);
    transition: 0.25s 0.1s ease-in opacity, 0.15s 0.1s cubic-bezier(.175, .885, .32, 1.275) transform;
  }
}
/* From Uiverse.io by 0xnihilism */ 
.card {
  width: 300px;
  padding: 20px;
  background: #fff;
  border: 6px solid #EAB308
  ;
  box-shadow: 12px 12px 0 #EAB308;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #CA8A04;
}

.card__title {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom:-2px;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.card:hover .card__title::after {
  transform: translateX(0);
}

.card__content {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 20px;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__form input {
  padding: 10px;
  border: 3px solid #000;
  font-size: 16px;
  font-family: inherit;
  transition: transform 0.3s;
  width: calc(100% - 26px); /* Adjust for padding and border */
}

.card__form input:focus {
  outline: none;
  transform: scale(1.05);
  background-color: #000;
  color: #ffffff;
}

.card__button {
  border: 3px solid #000;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;

}

.card__button::before {
  content: "Sure?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: #EAB308;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.card__button:hover::before {
  transform: translateY(0);
}

.card__button:active {
  transform: scale(0.95);
}

@keyframes glitch {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}

.glitch {
  animation: glitch 0.3s infinite;
}
/* From Uiverse.io by codebykay101 */ 
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}
.card1 {
  /* width: 200px; */
  

  padding: 20px;
  background: #fff;
  border: 6px solid #EAB308
  ;
  box-shadow: 12px 12px 0 #EAB308;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card1:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #CA8A04;
}

.card1__title {
  /* font-size: 32px; */
  font-weight: 900;
  /* color: #000; */
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}

.card1__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;
}


.card1__content {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 20px;
}

.card1__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card1__form input {
  padding: 10px;
  border: 3px solid #000;
  font-size: 16px;
  font-family: inherit;
  transition: transform 0.3s;
  width: calc(100% - 26px); /* Adjust for padding and border */
}

.card1__form input:focus {
  outline: none;
  transform: scale(1.05);
  background-color: #000;
  color: #ffffff;
}

.card1__button {
  border: 3px solid #000;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  left: 20%;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  width: 50%;
  height: 100%;
}

.card1__button::before {
  content: "Sure?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: #EAB308;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.card1__button:hover::before {
  transform: translateY(0);
}

.card1__button:active {
  transform: scale(0.95);
}
/* From Uiverse.io by Gaurav-WebDev */ 
.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.card2 {
  /* width: 200px; */
  

  padding: 20px;
  background: #fff;
  border: 6px solid #EAB308
  ;
  box-shadow: 12px 12px 0 #EAB308;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card2:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #CA8A04;
}
.card3 {
  /* width: 200px; */
  

  padding: 20px;
  background: #f0ba18;
  border: 6px solid #fff
  ;
  box-shadow: 12px 12px 0 #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card3:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #fff;
}
